{% extends 'base.html' %}

{% block head %}
<title>Gerenciador de Evento</title>
{% endblock %}

{% block body %}
<p class="descricao">Digite as informações da Sala de Evento:</p>
<div class="conteudo">
    <form action="/cadastro-sala-evento" method="POST">
        <input type="text" name="nome" id="nome" value="" placeholder="Nome">
        <input type="number" onkeypress="return event.charCode >= 48" min="1" name="lotacao" id="lotacao" value="" placeholder="Lotacao">
        <div class="opcoes-click">
            <input type="submit" class="botao" name="voltar" value="voltar">
            <input type="submit" class="botao" name="cadastrar" value="cadastrar">
        </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alerta-{{category}}">{{message}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
