{% extends 'base.html' %}


{% block head %}
<title>Gerenciador de Evento</title>
{% endblock %}

{% block body %}
<p class="descricao">Selecione o tipo de consulta</p>
<div class="conteudo">
    <form action="/consulta" method="POST">
        <input type="submit" class="botao" name="consultar pessoa" value="Consultar Pessoa">
        <input type="submit" class="botao" name="consultar sala evento" value="Consultar Sala de Evento">
        <input type="submit" class="botao" name="consultar espaco cafe" value="Consultar Espaço de Café">
        <input type="submit" class="botao" name="voltar" value="Voltar">
    </form>
</div>
{% endblock %}
