{% extends 'base.html' %}

{% block head %}
<title>Gerenciador de Evento</title>
{% endblock %}

{% block body %}
<div class="conteudo">
    <p class="descricao"><b>{{ cafe.nome }} - Distribuição de pessoas</b></p>

    <div class="lista">
        <p class="titulo-lista lista-1">Pessoas no 1 Intervalo</p>
        {% for pessoa in pessoas_etapa_1 %}
            <p class="lista">{{ pessoa.nome }} {{ pessoa.sobrenome }}</p>
        {% endfor %}
    </div>

    <div class="lista">
        <p class="titulo-lista lista-2">Pessoas no 2 Intervalo</p>
        {% for pessoa in pessoas_etapa_2 %}
            <p class="lista">{{ pessoa.nome }} {{ pessoa.sobrenome }}</p>
        {% endfor %}
    </div>

    <form action="/consulta-espaco-cafe-selecionado/{{cafe.id}}" method="POST">
        <input type="submit" class="botao" name="voltar" value="Voltar">
    </form>

</div>
{% endblock %}
